body {
    font-family: 'Montserrat', sans-serif;
    background-color: #35c2e6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2f79b6;
    color: white;
    text-align: center;
    padding: 20px 0;
}

#game-board {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px;
    max-width: 300px;
    margin: 50px auto;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 3px solid #333;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #4889a3;
    color: white;
}

#current-player {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

#reset-btn, #reset-scores-btn {
    margin-top: 10px;
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#reset-btn:hover, #reset-scores-btn:hover {
    background-color: #45a049;
}

#message-box {
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    color: #333;
}